<ul>
		<li class="menu_index"><a class="amenu" href="/index" style="text-decoration:none;"> Home </a></li>
		<li class="menu_about"><a class="amenu" href="/about" style="text-decoration:none;">About</a></li>
	 	<li class="menu_homework"><a class="amenu" href="/homework" style="text-decoration:none;">HomeWork</a></li>
</ul>