<!DOCTYPE html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<title>Henry's Profile</title>
	<link rel=stylesheet type="text/css" href="./css/css_style.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>
<body>

	<div class="container">

		<header>

			<div class="header_logo">
				<img src="./img/logo.png" alt="Photo Of Me" title="Me" height="100px" width="100px" >
			</div>

			<div class="header_info">
				This is my WebDesign Introduce Page 
			</div>

			<div class="nav">
				<% include header.ejs %>
				<script>
					$("li.menu_index a").removeClass("amenu").addClass("amenu sel");
				</script>
			</div>

			<div class="footer">
				<p class="footstyle">&copy; 2016 All Right Reserved. </p>
			</div>

		</header>


		<div class="sidebody">
				<p class="sidebody_title"> All about the class </p>
				<table>
					<tr>
						<td>
							<dl>
								<dt style="font-size: 20px;">網頁設計學習經歷</dt>
								<dd>在這堂課之前，只有自學一點點html的相關語法，並且對於網頁架構有基礎的認知，一直對於網頁設計抱有極大的興趣，希望透過修習這門課，能夠對網頁設計有更近一步、清楚的認識。</dd>
							</dl> 
						</td>
					</tr>

					<tr>
						<td>
							<dl>
								<dt style="font-size: 20px;">對課程內容與進度的建議</dt>
								<dd>對於這門課，希望能夠知道更多有關javascript應用在網頁互動上的效果，以及在業界對於前端設計是否有些標準流程或是規範，在實作方面有實際的範例可以做為參考（例如一個介紹產品的網頁或是一個線上交易網站），藉由實作讓我們能了解每一個語法或功能在實際的網頁裡扮演著什麼樣的角色，並且希望能夠對於網頁的安全規範也能夠有一些簡單的介紹。</dd>
							</dl>
						</td>
					</tr>
				</table>

		</div>		
	</div>


</body>
</html>