	body{

	}
	.container{
		display:flex;  
  		flex-direction:row;
  		-webkit-font-smoothing: antialiased;
    	-moz-osx-font-smoothing: grayscale;
    	width: 100%;
    	min-height: 100%;
    	max-width: 52.5rem;
    	margin: 0 auto;
    	box-sizing: border-box;
    	display: block;
	}

	header{
		box-sizing: border-box;
		width: 18.75rem;
		height: 100%;
    	min-height: 38.125rem;
		border-right: 1px #5487A4 solid;
		padding: 2.5rem;
		position: fixed;
    	z-index: 1000;
    	text-align: center;
 		font-style: italic;
		color: #5487A4;
		font-size: 16px;
    	margin-left: -18.75rem;
    	top: 0;
	}

	.header_logo img{
		border-radius:50%;
	}

	.header_info {
		margin-top: 20px;
	}

	.nav{		
		font-size:22px;
		font-family: Helvetica;
		font-style: normal;
		font-weight: 700;
		margin-top: -10px;

	}

	.nav ul{
		padding: 0px;
		list-style: none;
		text-align: center;

	}

	.nav li{
		padding: 3px 0;
	}

	li.menu{
		cursor:pointer;
	}
	
	a.amenu{
		color: #91A8D0;
	}
	a.amenu.sel{
		color: #F8CDCD;
	}
	a.amenu:hover{
		color: #F8CDCD;
	}

	.sidebody{
		padding: 2.5rem;
		font-family: Helvetica;
		font-size: 18px;
		margin: 0;
		border: 0;
	}
	
	p.sidebody_title{
		margin-top: 5px;
		margin-bottom: 30px;
		font-family: Adobe Garamond Pro,Garamond;
		font-size: 40px;
		font-weight: bold;
		color: #5487A4;

	}
	.sidebody table{
		margin: 0 25% 0 0;
	}

	.profile_link td{
		text-align: right;
	}

	dl.profile_info{
		position: relative;
		top: -35px;
		line-height: 28px;
	}

	.homework_list img{
		width: 100%;
		height: auto;
		margin: 0;
		border: 0;
		transition: opacity 0.25s linear;
		-webkit-transition: opacity .25s linear;
	}

	.homework_list img:hover{
		opacity: 0.7;
	}

	.homework_list{
		list-style-type: none;
		text-align: left;
		margin: 40px 0;
		border: 0;
		padding: 0;
	}

	.homework_list_title {
		font-family: Helvetica;
		font-style: normal;
	   	font-size: 22px;
    	display: inline-block;
		margin-top: .5rem;
		text-decoration: none;
		color: #91A8D0;
	}

	.homework_list_title:hover{
		color: #F8CDCD;
	}

	.homework_list_spec {
		margin: 0;
		font-family: Helvetica;
		font-style: normal;
		color: gray;
		font-size: 16px;
	}
	

	.footer{
		box-sizing: border-box;
		border-top: 1px #5487A4 solid;
		position: absolute;
    	right: 0;
    	bottom: 0;
   		left: 0;
	    padding: 1.25rem 2.5rem;
	    
	}

	.fotter.pre.footstyle{
		font-family:Helvetica;
		text-align: center;
	}



	@media screen and (max-width: 90em)
	{
		.container {
			margin-left: 18.75rem;
		}
   	 
	}

	@media screen and (max-width: 72em)
	{
		.container{
			width: 73%;
    		margin-left: 26%;
		}
		
		header {
    		width: 26%;
   			margin-left: -26%;
		}
		
	}

	@media screen and (max-width: 64em)
	{
		header .sidebody{
   			 padding: 1.25rem;
		}
	}
